.page-hero--intro .page-hero__subnav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: clamp(32px, 6vw, 60px);
}

.page-hero--intro .title-img {
  width: clamp(72px, 9vw, 135px);
  height: clamp(72px, 9vw, 135px);
}

.page-hero--intro .title-img-wrap {
  margin-left: 9px;
  margin-right: 7px;
}

.intro-hero-title {
  text-align: center;
  margin-bottom: 64px;
}

.intro-track {
  margin: 80px auto 220px;   
  max-width: 1400px;         
}

.intro-track h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 14px;
  color: var(--white);
}

.intro-track p {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 60px;
  color: var(--white);
}

.intro-track h2,
.intro-track p {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}


.intro-track.show h2,
.intro-track.show p {
  opacity: 1;
  transform: translateY(0);
}


.track-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 39px;
  justify-content: center;   
}

.track-card {
  background: #2d2d2d;
  padding: 32px;
  min-height: 200px;
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.track-card.show {
  opacity: 1;
  transform: translateY(0);
}

.track-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 18px;
  background: var(--blue);
}

.track-card h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--white);
  position: relative;
  padding-bottom: 20px;
}

.track-card h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 1px;
  background: var(--gray-muted);
}

.track-card p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--white);
}

.intro-content {
  width: 100%;
  max-width: 1100px;
}

.intro-section-wrapper {
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.intro-section-wrapper.show {
  opacity: 1;
  transform: translateY(0);
}

.intro-section-line {
  position: absolute;
  top: 95px;
  left: 50%;
  width: 100vw;
  height: 0.3px;
  background: var(--gray-muted);
  transform: translateX(-50%);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.7s ease 0.3s;
}

.intro-section-wrapper.show .intro-section-line {
  opacity: 1;
}

.intro-section {
  position: relative;
  margin-bottom: 220px;
  margin-left: clamp(40px, 6vw, 80px);

  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.intro-section-wrapper.show .intro-section {
  opacity: 1;
  transform: translateY(0);
}

.intro-section.intro-02 {
  margin-left: clamp(120px, 14vw, 220px);
}

.intro-top-row {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 40px;
  position: relative;
}

.section-number {
  font-size: clamp(150px, 9vw, 110px);
  font-weight: 900;
  line-height: 1;
  color: var(--blue);
  z-index: 2;
}

.section-dot {
  width: 10px;
  height: 10px;
  margin-top: 40px;
  background: var(--blue);
  z-index: 2;
}


.intro-text {
  padding-left: 160px;
}

.intro-text h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 18px;
  color: var(--white);
}

.intro-text p {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.7;
  color: var(--white);
  max-width: 750px;
}

.intro-job-list h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 50px 0 18px;
  color: var(--white);
}

.logo-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}


.logo-row img {
  width: 180px;
  padding: 14px 20px;
  border-radius: 10px;
  background: var(--white);
  filter: grayscale(100%);
  opacity: 0.7;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.logo-row img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
